<div class="parent-container">
  <div class="child-container">
    <h2><b>Thank you for Contacting Us</b></h2>
    <br><br><br>
    <form>
      <div class="form-group"><br>
        <label>Name: Pooja Reddy Gopu</label><br><br>
        <label>Address : 5302 charlotte st.</label><br>
        <label>Kansas City, MO 64110</label><br><br>
        <label>Email id: rg3xx@mail.umkc.edu</label><br><br>
        <label>Contact No. +1 (816)-316 6591</label><br><br>
      </div>
    </form>
  </div>
</div>
